@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}


body {
  display: flex;
  background-color: #0c122c;
  min-height: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Raleway';
  background-image: url(/images/bg-mobile.png);
  background-size: cover;
}

main {
  display: flex;
  width: 85%;
  position: relative;
 
}

.brand {
  flex-basis: 350px;
  background-color: #1d2c67;
  border-radius: 15px 114px 4px 5px;
  margin-right: 20px;
}

.logo {
  margin-top: 39px;
  margin-left: 40px;
}

.icons {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
  align-items: center;
  margin-top: 35px;
 

}

li {
  display: flex;
  border-style: solid;
  width: 50px;
  height: 47px;
  border-radius: 11px;
  background-color: #0c122c;
  float: left;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.storage {
  flex-shrink: 100px;
  
  flex-basis: 600px;
  background-color: #1d2c67;
  border-radius: 15px 22px 6px 6px;
  margin-top: 20px;
  color: white;
 
}

.space-left {
  background-color: white;
  color: black;
  border-radius: 12px 13px 0px 10px;
  height: 69px;
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 180px;
  right: 2rem;
  top: 0;
  margin: 0;
  left: 62%;
  box-sizing: border-box;
  padding-left: 36px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.counter {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}
.space-left::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 30px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: 150px;
  margin-bottom: -21px;

}

.space-left-GB {
  font-weight: bold;
  font-size: 12px;
  color: lightgray
}

#progressbar {
  background-color: #0c122c;
  ;
  border-radius: 13px;
  padding: 3px;
  margin-left: 30px;
  margin-right: 30px;
}

#progressbar>div {
  background-color: palevioletred;
  width: 74%;
  height: 13px;
  border-radius: 10px;
}

.storage-cap {

  margin-bottom: 20px;
}

.storage-text {

  margin-left: 40px;
  margin-top: 50px;

}

.storage-counter {
  margin-bottom: 20px;
}

.min-gb {
  margin-left: 32px;
}

.max-gb {
  float: right;
  margin-right: 27px;
}

.gb {
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  body {

    background-image: url(/images/bg-desktop.png);
    background-size: 100% 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}

/* FOR MOBILE */

@media only screen and (max-width: 767px) {

  main {
    flex-direction: column;
  
  }


  .brand {
   
    flex: 1;
    margin-right: 0px;
  }

  .storage {
    flex: 1;
    padding: 0px 0px 20px 0px;
    margin: 20px 0px 0px 0px;
  }

  .space-left {
    border-radius: 12px 13px 10px 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -33px;
    top: 22rem;
  }

  .space-left::after{
   
    border: 0px solid transparent;
    
   
  
  }

}


